spring:
  application:
    name: user-service
  mongodb:
    uri: ${MONGODB_URI}
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
management:
  endpoints:
    web:
      exposure:
        include: "*"
    #  h2:
    #    console:
    #      enabled: true
    #  datasource:
    #    url: jdbc:h2:mem:test
    #  jpa:
    #    show-sql: true
    #    hibernate:
    #      ddl-auto: create
server:
  port: 8082
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
logging:
  level:
    root: INFO
    com.ecom.user: TRACE
  file:
    name: ../logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30