spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\Spring Boot Projects\ecom\configserver\src\main\resources\config
server:
    port: 8888
management:
  endpoints:
    web:
      exposure:
        include: "*"